#! /usr/bin/env bash

#PBS -N b_<EXPID>_<DIAG>
#PBS -q nf
#PBS -l EC_billing_account=<ACCOUNT>
#PBS -l EC_total_tasks=12
#PBS -l EC_hyperthreads=1
#PBS -l walltime=01:00:00
#PBS -j oe
#PBS -o <OUT>/log/barakuda_<EXPID>_<DIAG>.out

##PBS -l EC_memory_per_task=24GB

# -------- CONFIG
module unload PrgEnv-cray
module unload PrgEnv-intel
module unload PrgEnv-gnu
module load PrgEnv-intel

module load cdo/1.9.6

module load python

set -e

mkdir <OUT>/log || true

cd <BARAKUDA_TOPDIR>
 
export OMP_NUM_THREADS=$EC_threads_per_task

mpiexec -n 1 <CMD>
